<form method='POST' action="<%= url %>?_method=DELETE"><!-- this post will be overrided by the delete using method-override package -->
    <button class="search1" type="submit">Delete</button>
</form>