

<header>
    <nav>
        <div>
            <div class="headingfile">
                United Institute of Science and Technology
            </div>
        </div>
        <a href="/" class="files"><br>Library Management System<br></a>
        <div class="myDivElement">
            <ul >
                <ul><a href="/authors">All Authors</a></ul>
                <ul><a href="/authors/new">New Authors</a></ul>
                <ul><a href="/books/">All Books</a></ul>
                <ul><a href="/books/new">New Books</a></ul>
            </ul>
        </div>
    </nav>
</header>